
.container {
    /* background: #000; */
    /* display: block; */
    height: 44vw;
    width: 40vw;
    margin: 0 auto;
}

.dashboard {
    background-color: aquamarine;
    height: 10%;
}
.clock_dashboard {
    /* background-color: blueviolet; */
    width: 50%;
    height: 100%;
    margin: auto;
    text-align: center;
    font-size: xx-large;

    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    background-color: blue;
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
    width: 40vw;
    height: 40vw;
}

.square {
    background-color: aqua;
    width: 10%;
    height: 10%;
    /* padding: 0%; */
    border-width: 1px;
    /* margin: 0; */
}

.flag {
    background-color: red;
}